header {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 40px;
    margin-right: 60%;
    color: teal;
}

.container {
    margin-right: 50%;
    color: green;
    height: 300px;
    font-size: 15px;
}

body {
    background-image: url(https://www.pptbackgroundstemplates.com/backgrounds/Crystal-Cube-PPT-Backgrounds.jpg);
    background-size: 2000px 1000px;
    background-repeat: no-repeat;
}

.box {
    background-color: aquamarine;
    margin-right: 90%;
    margin-top: 10px;
    font-size: 40px;
}

img {
    height: 83px;
    width: 93px;
}

